@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

@font-face {
	font-family: 'georgia';
	src: url(fonts/Georgia.woff); 
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

@font-face {
	font-family: 'georgia';
	src: url(fonts/Georgia.woff); 
}

body {
	font-size: 100%;
}

.dropcap1:first-letter {
  font-family: "georgia", serif;
  float: left;
  font-size: 4.3em;
  line-height: 90%;
}


@media screen and (min-width: 340px) {
h1 {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 2.488em ;
}

h2 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 2.074em ;
}

h3 {
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	font-size: 1.728em ;
}

h4 {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 1.44em;
}

h5 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 1em;
}

p {
	font-family: 'georgia', serif;
	font-weight: 400;
	font-size: 1.2em;
}
}

*{
	width: 100%;
	max-width: 1366px;
	margin-left: auto;
	margin-right: auto;
	line-height: 2.074em;
}

.container {
	width: 100%;
	max-width: 680px;
	
}