@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

@font-face {
	font-family: 'georgia';
	src: url(fonts/Georgia.woff); 
}

body {
	font-size: 100%;
}

.dropcap1:first-letter {
  font-family: "georgia", serif;
  float: left;
  font-size: 4.3em;
  line-height: 90%;
}


@media screen and (min-width: 340px) {
h1 {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 2.986em ;
		line-height: 90%;
}

h2 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 1.2em ;
	line-height: 90%;
}

h3 {
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	font-size: 1em ;
}

h4 {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 0.833em;
}

h5 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 0.694em;
}

h6 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 0.579em;
}

p {
	font-family: 'georgia', serif;
	font-weight: 400;
	font-size: 1em;
}
}






@media screen and (max-width: 340px) {

.dropcap1:first-letter {
  font-family: "georgia", serif;
  float: left;
  font-size: 3.583em;
  line-height: 110%;
}

.dropcap2:first-letter {
  font-family: "georgia", serif;
  float: left;
  font-size: 3.583em;
  line-height: 110%;
}

h1 {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 1.44em ;
}

h2 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 1.2em ;
}

h3 {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 1em ;
}

h4 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 0.833em;
}

h5 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 0.694em;
}

h6 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 0.579em;
}

p {
	font-family: 'georgia', serif;
	font-weight: 400;
	font-size: 1em;
}
}